<div class="stacked-div-container">
    <div class="stacked-div">
        <div class="top-section">
            <h2>{{title}} </h2>
            <p>Posted by {{user.name}} on {{format_date created_date}}</p>
        </div>
        <div class="bottom-section">
            <p>{{content}}</p>
        </div>
    </div>
</div>
<div class="stacked-div-container">
    <div class="stacked-div">
        <div class="top-section">             
        </div>
        <div class="bottom-section">
            <p>Comment</p>
            <p>Posted by {{user.name}} on {{format_date created_date}}</p>
        </div>
    </div>
</div>